input {
    padding: 9px;
    font-size: 16px;
    font-weight: bold;
    width: 500px;
    border: solid 1px rgb(85, 85, 85);
    border-radius: 4px;
    opacity: 0.5;
    margin-bottom: 9px;
}

label {
    font-size: 15px;
    font-weight: bold;
    color: rgb(87, 87, 95);
    margin-top: 9px;
}

@media screen and (max-width: 542px) {
    input {
        width: auto;
    }
}