.containerTitlelistPost {
    align-items: center;
    width: 600px;
}

.titleListPost {
    align-self: center;
}

.containerPosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 613px) {
    .containerTitlelistPost {
        width: auto;
    }
}